@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;
  
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --orange2: #e26c1b;
    --light-orange: #ffe0d3;
    --green: #28a745;
}

body {
    font-family: var(--poppins);
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: var(--light); /* Changed background color */
}

.sidebar {
  width: 250px;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
}

.brand_logo {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.brand_logo img {
  max-width: 100%;
  height: auto;
}

.sidebar_options ul {
  list-style: none;
}

.sidebar_options ul li {
  margin: 10px 0 10px 10px;
  padding: 5px;
  position: relative;
}

.sidebar_options ul .active,
.sidebar_options ul li:hover {
  background-color: var(--black);
  border-radius: 50px;
}
.sidebar_options ul .active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  z-index: -1;
}
.sidebar_options ul .active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  z-index: -1;
}
.sidebar_options ul li a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  color: #2c3e50;
  font-weight: 700;
  padding: 5px 10px;
  align-items: baseline;
  background-color: white;
}

.sidebar_options ul li a .bx {
  margin-right: 10px;
}

.sidebar_options ul li :hover,
.sidebar_options ul li a {
  background-color: var(--color1);
  border-radius: 50px;
}
.sidebar_options ul li :hover,
.sidebar_options ul .active a {
  border-radius: 50px;
  background-color: var(--black);
  color: #3c91e6;
}

.logout_button {
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.logout_button button {
  background-color: var(--grey);
  color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.logout_button button:hover {
  background-color: #c0392b;
  color: white;
}
.container {
    margin-left: 250px; /* Width of the sidebar */
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    width:155vh;
    position: relative;
}

.navigation_option_name span {
    font-size: 24px;
    color: #3c91e6;
    font-weight: bold;
}

.logo {
    display: none;
}

.user_name {
    font-weight: bold;
}

.common_options a {
    margin-left: 20px;
    color:#3c91e6;
    text-decoration: none;
    font-size: 25px;
}

.question{
    margin: 20px;
    
}

.question_content{
    display: flex;
    width: 35vw;
    justify-content: space-between;
    background-color: var(--grey-black);
    padding: 10px 20px 10px 30px;
    border-radius: 10px;
}

.bx-chevron-up {
    display: none;
}

.contact_page_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width:77vw;
    border:10px;
    position: relative;
}

.contact_details {
    background-color: var(--grey-black);
    padding: 5px 10px 5px 30px;
    width: 415px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height:26.8vh;
}
 .contact-form {
    background-color: var(--grey-black);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

.contact_details h2{
    margin-bottom: 10px;
    color: var(--blue); 
}
 .contact-form h2 {
    margin-bottom: 20px;
    color: var(--blue);
}

.contact_details p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact_details p i {
    margin-right: 10px;
    color: var(--blue);
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: var(--black2);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: var(--grey);
}

@media (max-width: 786px) {
    body {
        flex-direction: column;
        overflow: auto;
        height:100vh;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        padding: 10px 0;
        z-index: 1000;
    }

    .sidebar .brand_logo {
        display: none;
    }

    .sidebar_options ul {
        display: grid;
        margin-left: 1vw;
        margin-right: 1vw;
        grid-template-columns: repeat(4, 20vw);
        gap: 6vw;
    }

    .sidebar_options ul li {
        margin: 0;
        text-align: center;
    }

    .sidebar_options ul li a {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        font-size: 2vw;
        align-items: center;
    }

    .sidebar_options ul .active::before,
    .sidebar_options ul .active::after {
        content: none; 
    }

    .logout_button {
        display: none; 
    }

    .container {
        margin-left: 0;
        margin-bottom: 60px;
        padding: 10px;
        height:100vh;
    }

    header nav {
        flex-direction: row;
        align-items: center;
    }

    .logo {
        display: block;
    }

    .logo img {
        max-width: 100px;
    }

    .navigation_option_name {
        display: none;
    }

    .common_options {
        margin-top: 10px;
    }

    .common_options a {
        margin-left: 0;
        margin-right: 10px;
    }

    .question_content{
        width: 75vw;
    }
    
    .contact_page_content {
        padding: 10px;
    }

    .contact_details, .contact_form {
        padding: 15px;
    }

    .contact_details p {
        font-size: 14px;
    }

    .contact_form input, .contact_form textarea {
        font-size: 14px;
    }

    .contact_form button {
        padding: 8px 16px;
        font-size: 14px;
    }

}

.dark-mode {
    --light: #0a0a0a;
    --grey: #34495e;
    --dark-grey: #7f8c8d;
    --dark: #ecf0f1;
    --light-blue: #2980b9;
    --red: #e74c3c;
    --yellow: #f39c12;
    --light-yellow: #f1c40f;
    --orange: #d35400;
    --orange2: #e67e22;
    --light-orange: #e67e22;
    --blue: #3498db;
    --green: #2ecc71;
    --grey-black: #2c2c2c;
    --black: #000; /* Ensure the black variable is present */
    color: #ecf0f1;
    --color1:#2c3e50;
    --color2:##1e1e1e;
}

.dark-mode body {
    background-color: var(--black); /* Changed to black */
}

.dark-mode .sidebar {
    background-color:var(--grey-black);
}

.dark-mode .sidebar_options ul li a {
    color: var(--dark);
}

.dark-mode .sidebar_options ul li a:hover,
.dark-mode .sidebar_options ul li.active a {
    color: var(--blue);
    background-color: var(--color2);

}

.dark-mode .logout_button button {
    background-color: var(--dark-grey);
    color: var(--red);
}

.dark-mode .logout_button button:hover {
    background-color: var(--red);
    color: #ecf0f1;
}

.dark-mode header nav {
    background-color: var(--black);
}

.dark-mode .navigation_option_name span {
    color: var(--blue);
}

.dark-mode .common_options a {
    color: var(--blue);
}

.dark-mode .common_options a:hover {
    color: #ecf0f1;
}

.dark-mode .message {
    color: var(--orange2);
}

.dark-mode .mycourses,
.dark-mode .learning_hours,
.dark-mode .achievements {
    background-color: var(--light);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dark-mode .frames a {
    color: var(--dark);
}

.dark-mode .frames a:hover {
    background-color: var(--dark);
}

.dark-mode .frames span {
    color: var(--blue);
}

.faq_contact {
    display: flex;
    justify-content: space-between;
    width: 74vw;
}





/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;
  
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --orange2: #e26c1b;
    --light-orange: #ffe0d3;
    --green: #28a745;
}

body {
    font-family: var(--poppins);
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
}


.sidebar {
  width: 250px;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
}

.brand_logo {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.brand_logo img {
  max-width: 100%;
  height: auto;
}

.sidebar_options ul {
  list-style: none;
}

.sidebar_options ul li {
  margin: 10px 0 10px 10px;
  padding: 5px;
  position: relative;
}

.sidebar_options ul .active,
.sidebar_options ul li:hover {
  background-color: var(--black);
  border-radius: 50px;
}
.sidebar_options ul .active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  z-index: -1;
}
.sidebar_options ul .active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  z-index: -1;
}
.sidebar_options ul li a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  color: #2c3e50;
  font-weight: 700;
  padding: 5px 10px;
  align-items: baseline;
  background-color: white;
}

.sidebar_options ul li a .bx {
  margin-right: 10px;
}

.sidebar_options ul li :hover,
.sidebar_options ul li a {
  background-color: var(--light);
  border-radius: 50px;
}
.sidebar_options ul li :hover,
.sidebar_options ul .active a {
  border-radius: 50px;
  background-color: var(--black);
  color: #3c91e6;
}

.logout_button {
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.logout_button button {
  background-color: var(--grey);
  color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.logout_button button:hover {
  background-color: #c0392b;
  color: white;
}
.container {
    margin-left: 250px; 
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    width:155vh;
    position: relative;
}

.navigation_option_name span {
    font-size: 24px;
    color: #3c91e6;
    font-weight: bold;
}

.logo {
    display: none;
}

.user_name {
    font-weight: bold;
}

.common_options a {
    margin-left: 20px;
    color:#3c91e6;
    text-decoration: none;
    font-size: 25px;
}



.question{
    margin: 20px;
    
}

.question_content{
    display: flex;
    width: 35vw;
    justify-content: space-between;
    background-color: var(--grey-black);
    padding: 10px 20px 10px 30px;
    border-radius: 10px;
}




.bx-chevron-up {
    display: none;
}


.contact_page_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width:77vw;
    border:10px;
    position: relative;

   
}

.contact_details {
    background-color: var(--grey-black);
    padding: 5px 10px 5px 30px;
    width: 415px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height:26.8vh;
}
 .contact-form {
    background-color: var(--grey-black);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

.contact_details h2{
    margin-bottom: 10px;
    color: var(--blue); 
}
 .contact-form h2 {
    margin-bottom: 20px;
    color: var(--blue);
}

.contact_details p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact_details p i {
    margin-right: 10px;
    color: var(--blue);
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: var(--black2);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    
}


.contact-form button:hover {
    background-color: var(--grey);
}




@media (max-width: 786px) {
    body {
        flex-direction: column;
        overflow: auto;
        height:100vh;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        padding: 10px 0;
        z-index: 1000;
    }

    .sidebar .brand_logo {
        display: none;
    }

    .sidebar_options ul {
        display: grid;
        margin-left: 1vw;
        margin-right: 1vw;
        grid-template-columns: repeat(4, 20vw);
        gap: 6vw;
    }

    .sidebar_options ul li {
        margin: 0;
        text-align: center;
    }

    .sidebar_options ul li a {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        font-size: 2vw;
        align-items: center;
    }

    .sidebar_options ul .active::before,
    .sidebar_options ul .active::after {
        content: none; 
    }

    .logout_button {
        display: none; 
    }

    .container {
        margin-left: 0;
        margin-bottom: 60px;
        padding: 10px;
        height:100vh;
        
    }

    header nav {
        flex-direction: row;
        align-items: center;
    }

    .logo {
        display: block;
    }

    .logo img {
        max-width: 100px;
    }

    .navigation_option_name {
        display: none;
    }

    .common_options {
        margin-top: 10px;
    }

    .common_options a {
        margin-left: 0;
        margin-right: 10px;
    }

    .question_content{
        width: 75vw;
    }
    
    .contact_page_content {
        padding: 10px;
    }

    .contact_details, .contact_form {
        padding: 15px;
    }

    .contact_details p {
        font-size: 14px;
    }

    .contact_form input, .contact_form textarea {
        font-size: 14px;
    }

    .contact_form button {
        padding: 8px 16px;
        font-size: 14px;
    }

}


.dark-mode {
    --light: #2c3e50;
    --grey: #34495e;
    --dark-grey: #7f8c8d;
    --dark: #ecf0f1;
    --light-blue: #2980b9;
    --red: #e74c3c;
    --yellow: #f39c12;
    --light-yellow: #f1c40f;
    --orange: #d35400;
    --orange2: #e67e22;
    --light-orange: #e67e22;
    --blue: #3498db;
    --green: #2ecc71;
    color: #ecf0f1;
    --grey-black:#2c2c2c;

}

.dark-mode body {
    background-color: var(--grey);
}

.dark-mode .sidebar {
    background-color: var(--grey-black);
}


.dark-mode .sidebar_options ul li a {
    color: var(--dark);
}

.dark-mode .sidebar_options ul li a:hover,
.dark-mode .sidebar_options ul li.active a {
    color: var(--blue);
}

.dark-mode .logout_button button {
    background-color: var(--dark-grey);
    color: var(--red);
}

.dark-mode .logout_button button:hover {
    background-color: var(--red);
    color: #ecf0f1;
}

.dark-mode header nav {
    background-color: var(--grey-black);
}

.dark-mode .navigation_option_name span {
    color: var(--blue);
}

.dark-mode .common_options a {
    color: var(--blue);
}

.dark-mode .common_options a:hover {
    color: #ecf0f1;
}

.dark-mode .message {
    color: var(--orange2);
}

.dark-mode .mycourses,
.dark-mode .learning_hours,
.dark-mode .achievements {
    background-color: var(--light);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dark-mode .frames a {
    color: var(--dark);
}

.dark-mode .frames a:hover {
    background-color: var(--dark);
}

.dark-mode .frames span {
    color: var(--blue);
}

.faq_contact{
    display:flex;
   
    justify-content: space-between;
    width:74vw;
}






   */